@import "tailwindcss";
@plugin "@tailwindcss/typography";

@theme {
  --font-sans:
    "Inter", ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji",
    "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  --color-paragraph: oklch(44.6% 0.043 257.281);
}

@layer base {
  h1 {
    @apply text-2xl font-medium sm:text-3xl;
  }
  p {
    @apply text-sm sm:text-lg;
  }

  .border-b-md {
    @apply border-b-2 border-b-slate-700;
  }

  .border-b-sm {
    @apply border-b border-b-slate-700;
  }
}

html {
  scrollbar-width: thin;
}
html,
body {
  color-scheme: light;
  @apply: bg-slate-50;
}

/* apply waving animation for loading content. */

@media print {
  @page {
    size: A4;
    margin: 0;
  }
  html,
  body {
    margin: 0;
    padding: 0;
  }
}

/* custom animations */
@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@utility animation-fade-in {
  animation: fadeIn 500ms ease-out forwards;
}

@keyframes wave {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(100%);
  }
}
